In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titles = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration", "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "num_cylinders", "engine_size", "fuel_system", "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]
cars = pd.read_csv("imports-85.data", names=titles, encoding="Latin-1")

In [3]:
cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
cars = cars.replace("?", np.nan)

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null object
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null object
stroke               201 non-null object
compression_ratio    205 non-null float64
horsepower           203 non-null object
peak_rpm             203 non-null object
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

Columns which must be converted to float: ["bore", "stroke"].
To int: ["horsepower", "peak_rpm", "price", "normalized_losses"].
Convert string to int: ["num_doors", "num_cylinders"].

In [6]:
meanNormLosses = cars[~cars.normalized_losses.isnull()].normalized_losses.astype(int).mean()
cars.normalized_losses = cars.normalized_losses.fillna(meanNormLosses)

In [7]:
cars.normalized_losses = cars.normalized_losses.astype(int)

In [8]:
cars.num_cylinders.unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [9]:
cars.num_doors.unique()

array(['two', 'four', nan], dtype=object)

In [10]:
dictionary = {"one": 1, "two": 2, "three": 3, "four": 4, "five": 5, "six": 6, "seven": 7, "eight": 8, "nine": 9, "ten": 10, "eleven": 11, "twelve": 12}
cars.num_doors = cars.num_doors.map(dictionary)
cars.num_cylinders = cars.num_cylinders.map(dictionary)

In [11]:
cars = cars.drop(cars[cars.horsepower.isnull()].index, axis=0)
cars = cars.drop(cars[cars.num_doors.isnull()].index, axis=0)
cars = cars.drop(cars[cars.price.isnull()].index, axis=0)
cars = cars.drop(cars[cars.bore.isnull()].index, axis=0)

In [12]:
cars.peak_rpm = cars.peak_rpm.astype(int)
cars.price = cars.price.astype(int)
cars.horsepower = cars.horsepower.astype(int)
cars.num_doors = cars.num_doors.astype(int)
cars.num_cylinders = cars.num_cylinders.astype(int)
cars.bore = cars.bore.astype(float)
cars.stroke = cars.stroke.astype(float)

In [13]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193 entries, 0 to 204
Data columns (total 26 columns):
symboling            193 non-null int64
normalized_losses    193 non-null int64
make                 193 non-null object
fuel_type            193 non-null object
aspiration           193 non-null object
num_doors            193 non-null int64
body_style           193 non-null object
drive_wheels         193 non-null object
engine_location      193 non-null object
wheel_base           193 non-null float64
length               193 non-null float64
width                193 non-null float64
height               193 non-null float64
curb_weight          193 non-null int64
engine_type          193 non-null object
num_cylinders        193 non-null int64
engine_size          193 non-null int64
fuel_system          193 non-null object
bore                 193 non-null float64
stroke               193 non-null float64
compression_ratio    193 non-null float64
horsepower           193 non-null int64
peak_rpm             193 non-null int64
city_mpg             193 non-null int64
highway_mpg          193 non-null int64
price                193 non-null int64
dtypes: float64(7), int64(11), object(8)
memory usage: 40.7+ KB

In [14]:
dropColumns = ["make", "fuel_type", "aspiration", "body_style", "drive_wheels", "engine_location", "engine_type", "fuel_system"]
cars = cars.drop(dropColumns, axis=1)

In [ ]:
cars.info()